<div class="container mt-2">
	<h3>Student Info</h3>
	<hr />
	<br />
	<button
    (click)="fetchStudent()"
    class="btn btn-outline-primary"
  >
    Fetch Data
  </button>
	<!-- passing data to child component student -->
	<!-- userList is target property from child and stud is the iterator of source studentList, student is child selector -->
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<form #postForm="ngForm" class="mb-5">
				<div class="form-group">
					<label for="title">Name</label>
					<input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="name"
            name="name"
          />
        </div>
					<div class="form-group">
						<label for="content">username</label>
						<input
            class="form-control"
            id="username"
            required
            [(ngModel)]="username"
            name="username"
          />
        </div>
						<div class="form-group">
							<label for="content">Address</label>
							<input
            class="form-control"
            id="address"
            required
            [(ngModel)]="address"
            name="address"
          />
        </div>
							<div class="form-group">
								<label for="content">city</label>
								<input class="form-control" id="city" required [(ngModel)]="city" name="city" />
        </div>
								<button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postForm.valid"
          *ngIf="!isUpdate"
          (click)="onCreatePost(postForm.value)"
        >
          Add Student
        </button>
         
        <button
        class="btn btn-success"
        [disabled]="!postForm.valid"
        *ngIf="isUpdate"
        (click)="updateStudent(postForm.value)"
      >
        Update Student
      </button>
        
        
			</form>

		</div>
	</div>
	<div class="row">
		<div class="alert alert-danger" *ngIf="error">
			<h1>An error occured</h1>
			<p>{{error}}</p>
			<button (click)="ignoreError()" class="btn btn-outline-danger">
        Okay
      </button>
		</div>
		<p *ngIf="notAvailable">No data available</p>
		<app-student *ngFor="let student of studentsList; trackBy:trackByStudentId; let i = index" [studentData]="student" [_id]=[i] (newItemEvent)="deleteStudentData($event)" (newItemUpdate)="onUpdate(i)"></app-student>
	</div>
</div>